.o_fields{
  margin-left: 60px;
  margin-top: -14px;
  font-size: .85em;
  padding-left: 3px;
}
.fc-widget-content{
    height: 50px !important;
    }
.refract_od {
  background-color:#f0f0f5;
}
.refract_os {
  background-color:#d1d1e0;
}