/* ---- Barcode scanner  ---- */

.o_data_row.text-primary{

	font-weight:bold;

}

.btn.o_validate_page{

    pointer-events: none;
    background-color: white;
    color: #A6A6AA;
    border-color: #e7e7e7 !important;

}
